## Table of Contents
{% for file in files %}
{% if file.content|length > 0 %}
1. [{{ file.filename }}](#{{ file.filename | replace("/") | replace(".") }})
{% endif %}
{% endfor %}


{% for file in files %}
{% if file.content|length > 0 %}
## {{ file.filename }}
```
{{ file.content }}
```

{% endif %}
{% endfor %}
