Usage: readme [arguments] [PATHS, dafault(current)]
    -t FILE, --template=FILE         Jinja2 template file, [default: default]
    --no-recursive                   Disable recursive file lookup, [default: false]
    --file-type=FILETYPE             File type extension to filter, [default: any]
    -v, --version                    Show version
    -h, --help                       Show this help
    --show-context                   Shows default context and template

For further help with templates please refer to: https://github.com/straight-shoota/crinja
